<p>leaders works!</p>
<section class="section">
    <div
      id="carousel-example-generic"
      class="carousel slide leader-height"
      data-ride="carousel"
    >
      <!-- Wrapper for slides -->
      <div class="carousel-inner LL-size" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="LL">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="LL-img">
                  <img src="assets/img/leaders/PM-Modi.jpg" alt="modi" />
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="LL-text">
                  <p class="para">
                    "I hope that UDGAAR, organised by its youth forum, will be an
                    ideal platform for our youth to showcase their talents and to
                    reaffirm their support for the progress of the nation."
                  </p>
                  <div class="mline"></div>
                  <h4 class="name">Shri Narendra Modi</h4>
                  <h6>Honb'le Prime Minister of India</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- <div class="item ">
          <div class="row">
            <div class="LL">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="LL-img">
                  <img src="assets/img/leaders/GRC-Reddy.jpg" alt="modi" />
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="LL-text">
                  <p>
                    "Whenever you're sensitive to the people with whome you work,
                    i think you can come out with flying colours. Everyone can try
                    to implement these teaching in life and be successful."
                  </p>
                  <div class="mline"></div>
                  <h4 class="name">Prof. G.R.C Reddy</h4>
                  <h6>Vice-Chancellor, Sharda University</h6>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="item ">
          <div class="row">
            <div class="LL">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="LL-img">
                  <img src="assets/img/leaders/Manish-Sisodia.jpg" alt="modi" />
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="LL-text">
                  <p>
                    "I am delighted to know that Ethiccraft Club is launching a
                    De-addiction Campaign in an attempt to spread awareness about
                    self-destructive habits, and save youth implicated in
                    detrimental habits."
                  </p>
                  <div class="mline"></div>
                  <h4 class="name">Shri Manish Sisodia</h4>
                  <h6>Deputy Chief Minister of Delhi</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item ">
          <div class="row">
            <div class="LL">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="LL-img">
                  <img src="assets/img/leaders/Dr.Balram.jpg" alt="modi" />
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="LL-text">
                  <p>
                    "I am confident that this initiative by Ethiccraft Club in the
                    college premises will surely help the students of the college
                    to become empowered with wisdom."
                  </p>
                  <div class="mline"></div>
                  <h4 class="name">Dr. Balram Pani</h4>
                  <h6>Principal, Bhaskaracharya College of Applied Sciences</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item ">
          <div class="row">
            <div class="LL">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="LL-img">
                  <img src="assets/img/leaders/Dr.-PB-Sharma.jpg" alt="modi" />
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="LL-text">
                  <p>
                    "I am happy that Ethiccraft Club is taking a step forward to
                    wards making India drug free with their "Building India Upon
                    Values " initiative.
                  </p>
                  <div class="mline"></div>
                  <h4 class="name">Dr. P.B. Sharma</h4>
                  <h6>Vice Chancellor of Amity University, Manesar</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Controls -->
      <a
        class="left carousel-control"
        href="#carousel-example-generic"
        role="button"
        data-slide="prev"
      >
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="right carousel-control"
        href="#carousel-example-generic"
        role="button"
        data-slide="next"
      >
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  