<p>stay-tune works!</p>
<section class="upcoming-events">
    <div class="container">
      <div class="stay-tuned">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="calender">
              <span class="icon"
                ><img src="assets/img/stay-tune/calender.png"/></span
              ><span>STAY TUNED WITH UPDATES</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="calender-input">
              <form (ngSubmit)="onSignUp()" #f="ngForm">
                <input
                  type="text"
                  name="subscribe"
                  placeholder="Enter your mail id..."
                  ngModel
                  required
                  email
                  #email="ngModel"
                />
                <button [disabled]="!(f.valid && f.touched)" type="submit">
                  SUBMIT
                </button>
                <span *ngIf="email.invalid && email.touched" class="help-block"
                  >Please, Enter a valid email...</span
                >
                <div class="radio-btn">
                  <input type="checkbox" name="confirm" ngModel required /><span
                    >I agree that my subscribed data is collected and stored</span
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  